[2020-11-20 19:31] klis87 commented on #401
@favger I think this is nice to have, I will add it to TODO list. This doesn't really matter all that much though I think, memory won't be hurt for sure with this, and from selector perspective reset query and no query in reducer is the same anyway.

Is there any reason this might be important for you? Maybe I missed a case?

[2020-11-20 19:41] klis87 commented on #401
btw, this is not so simple, sometimes you could have multiple requests pending, and all aborted at once (reset also aborts requests) If you removed queries on reset, you would remove pending counter, many edge cases could be introduced with this change.

[2020-11-20 21:45] favger commented on #401
@klis87 "I think this is nice to have, I will add it to TODO list." cool, thanks.

"Is there any reason this might be important for you? Maybe I missed a case?": I realized it was not a problem in terms of performance. But I think it creates visual pollution in the application development process.

[2020-11-20 22:01] klis87 commented on #401
@favger I agree, definitely it is worth doing at some point. I have too many todos at the moment though, but if you wish, you could create a PR. As a hint, I think the following cases need to be covered:
1) no pending requests when reset request is fired - it is safe to remove a given query key
2) any pending request and reset requests is fired - do not remove the query key
3) in onAbort handler i

[2020-12-02 00:08] klis87 commented on #380
@iwan-uschka Released in 1.3.0, see release and docs for the usage! Please let me know if it works as expected, thx again for the idea!

[2020-12-02 00:08] #380 closed

[2020-12-05 15:15] klis87 commented on #327
Travis + lerna seems fine for now, so I am closing this, perhaps I will get back to it some day.

[2020-12-05 15:15] #327 closed

[2020-12-05 15:16] klis87 commented on #346
Axios won't be replace by fetch, as download and upload progress won't be supported then for graphql.

[2020-12-05 15:18] klis87 commented on #349
Next interceptors will have `onResponse` which will be exactly for this purpose. `getData` will remain to be still only data transformation function, it already will be fired for a success

[2020-12-05 15:18] #349 closed

[2020-12-05 15:20] klis87 commented on #336
@zeraien thx for those snippets, this topic is super interesting, I cannot work on it though as there are other important stuff on TODO list, but surely I will come back to this at some point, will definitely let you know about potential API before implementation!

[2020-12-05 15:24] klis87 commented on #388
I think this should really be solved on axios level, at some point I will check this and file issue/PR on axios library, I don't think they should mutate error object after throwing, but we need to see when they do that.

[2020-12-05 15:25] klis87 commented on #389
@favger closing, pls reopen in case of any further questions and issues!

[2020-12-05 15:25] #389 closed

[2020-12-05 15:26] klis87 commented on #396
@favger thx for your snippets! at some point I will add pagination/inf scrolling to guides. Closing for now!

[2020-12-05 15:26] #396 closed

[2020-12-05 15:30] klis87 opened #410 "Should we still use lerna independent mode?"
I really cannot decide, for now we use lerna independent mode, but really in the future it might be hard to know which packages are compatible with each other, for example we could have axios driver version 5 compatible with core 3 but not 4 and so on. Peer dependencies could have ranges, but still...

On the other hand, giving up independent mode will force major releases always for all packages,

[2020-12-13 18:09] iwan-uschka commented on #380
Hey @klis87, so cool to hear that a proposal i made finally made it into the library :) Just want to ask, if you think it would make sense to add `downloadProgress` and `uploadProgress` not only to `getQuery` and `getMutation` but also to `useQuery` and `useMutation`. If you agree here i can try to work on this and make a PR. Cheers

[2020-12-13 23:26] klis87 commented on #380
@iwan-uschka Hi! It was very good proposal and in the spirit this library is gonna take - declarativeness all the way! Regarding your question, it is already added to useQuery, useMutation, Query and Mutation! Perhaps I didn't make it clear enough in the docs, but it should work for all React components as well as all selectors. Typescript types are also updated, so your text editor should show th

[2020-12-14 18:09] iwan-uschka commented on #380
While searching the code of installed `redux-requests` packages i noticed, that my last `yarn install` didn't work out that way. The latest versions were not installed. Sorry!

I gave it a new try but now i am getting the following error when doing a regular fetch (no upload or download progress handling activated):

[code]

`package.json`:

[code]

[2020-12-14 23:06] klis87 commented on #380
@iwan-uschka this is a harmless warning, but it should be fixed anyway. Could you please give me a snippet how you use Query component?

[2020-12-15 08:22] iwan-uschka commented on #380
Hi @klis87 , thanks for taking the time. I was able to fix this by changing my `LoadingComponent` which is used in `Query`. It's important to know that a loading component like this

[code]

won't work anymore because we do now have some camel cased property names. I used a component provided by a UI framework so it was a little harder to find out. But in the end the error message above says it al

[2020-12-15 12:57] klis87 commented on #380
@iwan-uschka yeah, passing all props to div would make this warning, anyway it is not library issue

regarding your action, remove `onUploadProgress` from action, probably you overrode this handler from axios driver :)

let me know if that fixes the issue

[2020-12-15 12:58] klis87 commented on #380
definitely this is the reason, see https://github.com/klis87/redux-requests/blob/master/packages/redux-requests-axios/src/axios-driver.js#L29

[2020-12-17 18:27] iwan-uschka commented on #380
Jap. Indeed. Thx. Case closed :)

[2020-12-18 18:08] chandru89new opened #416 "Does / should `revertData` have old data as well?"
In the examples shown for `revertData` in the optimistic data updates, I find that it takes only one parameter and that parameter is the latest local data (after `updateDataOptimistic` has run).

For a use case where I am trying to _edit_ some resource, I run into this issue where I am not able to `revertData` unless I also pass the older data down.

Example:

[code]

In this case's `revertData`,

[2020-12-18 22:44] klis87 commented on #416
Very good question! Actually you did it in the optimal way, passing the old data (current from perspective of time before a request is fired). Indeed old data is not passed to `revertData`. Some of the reasons:
1) in the opposite to many libraries for optimistic updates, we don't store any copy to revert it back in case of failure, what happens is just on request `updateOptimisticData` is called,

[2020-12-19 14:55] klis87 opened #417 "Should we deprecate Query and Mutation components"
Just wondering, it is very easy to convert hooks to render prop type components. Making `Query` from `useQuery` would be trivial. Hence it might be worth removing `Query` and `Mutation` from this lib, as those components are opinionated anyway and easy to make on the app level.

[2020-12-19 16:50] chandru89new commented on #416
Tbh, I never thought about race conditions in concurrent requests. That definitely seems to make things super-complicated. Your post makes sense. I think it's safest to pass in old data to the config and use that in the `revertData` function. I will look into thunks as well.

Thanks much for replying in detail :)

p.s: I'll keep this open in case anyone else wants to comment their thoughts on it b

[2020-12-19 22:48] klis87 commented on #416
Thx for your answer! And I will keep this opened, this is kind of question/potential feature request. Concurrency is a risk, but there are many cases in apps where they won't happen, for example button could be disabled on pending and so on, so no parallel mutations would be even possible. Then, oldData passed by the lib might be handy, it always would save some job on the app level in such scenar

[2020-12-20 16:24] iwan-uschka commented on #306
@klis87 Do you mean "polling" at `Tasks after 1.0 > Other tasks:`? If not:
- What is "pooling"?
- What do you think about "polling"? Do you think it could be part of this library or should be managed from the outside?

[2020-12-20 23:11] klis87 commented on #306
@iwan-uschka it was just a typo :) I meant polling, edited already.

It is on the roadmap and this will be declarative short polling. It will work like that, probably new meta.pool: integer will be added, so that request action will be repeated according to passed meta.pool.

Additionally I guess we will have stopPolling action, working like abortRequests but to cancel pollings. Probably also rese

[2020-12-21 11:03] iwan-uschka commented on #306
Nice! Like that :)

"polling" is part of "other tasks" and not of "Help wanted" or "Advice wanted". If you think that getting support would help in this case, let me know.

[2020-12-21 14:59] klis87 opened #418 "Support short polling"
Sometimes it might be handy to refresh query data, which could allow to have more "real-time" user experience. This is how I would go about it:
1) To `RequestAction` add `meta.pool: number` (in seconds), this would be an interval, how often queries should be refetched automatically
2) We could implement it as a separate middleware (probably it would go even as 1st one in the stack)
3) Of course th

[2020-12-21 14:59] klis87 commented on #306
@iwan-uschka Actually, when I think about it, this could really be implemented as a totally different middleware, thx for the suggestion! Hence, this is a perfect candidate for `Help wanted`! See https://github.com/klis87/redux-requests/issues/418 for details

[2020-12-24 00:30] klis87 commented on #401
@favger FYI - I am working on React branch - adding ability for `useQuery` and `useMutation` to auto dispatch request actions, together with autoclearing on unmount and on request type/request key change, plus with optional `RequestsProvider` which will remove any need to setup and use Redux directly.

This is related to this issue so I will handle this at the same time. Unless by chance you alrea

[2020-12-24 10:41] favger commented on #401
@klis87 I am not working on this topic. I looked at the core code but decided there was nothing I could do. I would be very happy if you could support this issue.

[2020-12-24 13:31] klis87 commented on #401
@favger cool, so we won't duplicated each other. I will ping you here once this lands in the core!

[2020-12-25 14:14] favger commented on #418
That would be really amazing. My current usage pattern;
![ss-redux-requests-c](https://user-images.githubusercontent.com/25633595/103136787-8a2abd80-46d4-11eb-8e65-04b7ef1b810a.png)

[2020-12-27 11:29] favger commented on #401
@klis87 We look forward to this feature. 😃

[2020-12-29 12:59] klis87 commented on #416
@chandru89new I have another idea, with your suggestion, actually in case of not passing `revertData` at all, we could provide default revert logic like `(data, oldData) => oldData` - that's it, the default would just take back data to the state before mutation was fired. Without concurrent request it would be correct, with concurrent people could always take that into consideration and provide cu

[2020-12-29 13:01] klis87 commented on #416
I also plan adding thins like new effect, right now we have `takeLatest`, `takeEvery`, we could also add `takeLeading` - in case of firing request `X` while another is pending, another wouldn't be fired, but it would just take response from the pending one. Then, concurrency could be avoided in the first place, even without disabling buttons

[2020-12-29 13:35] klis87 commented on #401
@favger it will probably take like 1-2 weeks, as next release will be quite huge, no breaking changes, but things like autofetching in useQuery, auto resets, suspense and suspense based SSR, possibility to hide Redux setup and treat Redux like lib's internal representation, and more!

[2020-12-29 13:45] favger commented on #401
@klis87 Sounds great. We are impatiently awaiting new changes. 👏 👏

[2020-12-29 17:34] chandru89new commented on #416
This was my first thought when I started playing with `updateDataOptimistic` but I felt that _that_ would be becoming too _opinionated_. Also, explicitly asking the developer to handle the error scenario (in optimistic updates) seems the wiser thing to do instead of implicitly forcing a default behavior. (Again, this is coming from the possibility that the developers might do something to change t

[2020-12-29 17:49] chandru89new commented on #416
I'm thinking about this and running some (possibly edge-case) scenarios. Overall, seems like a nice idea.

I don't understand some bits though.

1. Let's say UI fired request (R#1) and optimistically updates.
2. Now, UI fires one more request (R#2) before there is any response for R#1. Given `takeLeading: true`, does the UI update optimistically again?
3. Assuming R#1 failed, the revertData of R#1

[2020-12-29 17:58] chandru89new commented on #416
Sounds naive but why not this rule?

If you use `updateDataOptimistic` and `revertData` in your request X, the library will automatically `queue` the requests of type X so at any given point of time, `revertData`'s `oldData` is always the last-non-stale copy of your store just before request X was made.

[2020-12-29 22:29] klis87 commented on #416
I am wondering, maybe an option like `meta.autoRevert: true` could achieve this behaviour? The point is, the most common use case indeed is to revert just to... old data. Sometimes it is possible to calculate previous data by decrementing and so on (to provide a mathematically reverse operation in comparison to `updateDataOptimistic`), but I don't think all cases could handle race conditions. Mayb

[2020-12-30 00:15] klis87 commented on #416
Btw, it seems that I will need to implement `takeLeading` effect now, as I need it for SSR in suspense mode (new upcoming feature)

[2020-12-30 13:58] klis87 commented on #416
What's interesting, adding queue effect and takeLeading, we will match RXJS operators for most common AJAX use cases - https://dev.to/rxjs/about-switchmap-and-friends-2jmm

[2020-12-30 14:08] klis87 commented on #416
We also match redux-saga, apart from queue/concatMap, I believe this would be needed to implement on user land. Anyway, what I think is this:
- takeEvery/mergeMap is perfect when order doesn't matter, in my opinion this is usually good for mutations, but bad for queries
- takeLatest/switchMap is usually the best for queries, perfect for things like typehead, pagination, so you prevent race conditi

[2020-12-30 23:40] klis87 commented on #418
@favger Thx for the snippet. I can see you use React, so you might be interested that additionally `stopPolling` callback will be returned by `useQuery`, also unmounting `useQuery`, changing `type` or `requestKey` will reset query, and resetting will also stop polling if any

@iwan-uschka @favger the only thing I am wondering, should we only have `meta.poll` to fire request which will be auto poll

[2020-12-30 23:52] klis87 opened #423 "Optimistic query"
It could be beneficial to add something like **optimistic query**. It would allow to update `data` before query response, which could be known in advance.

Use case? For example server side pagination, imagine you have `currentPage` in `data`, if you pass it to a pagination component, then it would work, but paginator would be updated only on query response. People would expect current page to be

[2020-12-31 09:05] iwan-uschka commented on #418
@klis87 I cannot think of any use case right now where `startPolling` callback would be needed. We have total control when to dispatch the specific action. If i need the same request type separately as a one-time action and a loop action i can create 2 actions separately or dispatch the same action using different parameters.
In this case i think we don't even need any `stopPolling` callback. We s

[2020-12-31 11:02] favger commented on #418
@klis87 I trust your feelings about this. My ability to analyze is not very good.

Maybe the [SWR](https://swr.vercel.app/docs/options)'s settings can help us get an idea.

Good work

[2020-12-31 12:59] klis87 commented on #418
@iwan-uschka Thx for the feedback. Regarding abortRequest, I prefer to keep this only to just abort requests, no matter whether polling is used or not. Hence I think dedicated action stopPolling would be cool. However, resetRequests should stop all polling, I cannot think about any case which would reset a request just to make another with polling. And thanks for the gist :)

@favger actually very

[2020-12-31 14:18] klis87 commented on #416
For the reference, this might be more problematic actually, let's try something complicated!
1) Let's use queues, assume we have 3 mutations, R1, R2, R3, initial data is 0, R1 sets it to1, R2 to 2, R3 to 3, we assume auto reverts to oldData
2) We fire 3 mutations, data is optimistically set to 3, R1 requests are pending, R2 and R3 are queued
3) Some random scenarios:
a) R1 success, R2 success, R3

[2020-12-31 14:27] klis87 commented on #416
What is also interesting, above pattern should take into consideration that queue would be per type, so instead of like, unlike action, we should have setLike action, the point is to move all mutations which could suffer from race condition under one action, with a dynamic config.

What we also need to take into account is the possibility to optimistically updated multiple queries at the same time

[2021-01-02 23:46] klis87 opened #424 "Should we clear errors on request actions?"
Right now we do it, but I feel we shouldn't. We don't clear `data`, so I think we shouldn't `error` too. It would be cleared anyway on success, and the user will always have a choice whether to render error during loading new request or not. Right now error is gone on loading, so displaying it then without copying error as local state is not possible.

[2021-01-05 08:38] Flixbox commented on #424
We would agree with that sentiment. We're currently facing the problem that our server returns a `500` and the JS only sees "Internal Server Error", while the server actually delivers a useful response with a proper error object. We currently have no easy way of inspecting that error or displaying it to the user.

![image](https://user-images.githubusercontent.com/14835021/103623914-150f8180-4f39-

[2021-01-05 08:56] klis87 commented on #424
@Flixbox what driver do you use? Did you try console.log this error in the app? as tools might not display it properly due to serializing issues. Anyway, is it related to this issue? If not, please create a dedicated one so this would be only about clearing error on request :)

[2021-01-05 13:54] Flixbox opened #428 "Error code 5xx sometimes doesn't provide response data"
We're currently facing the problem that our server returns a `500` and the JS only sees "Internal Server Error", while the server actually delivers a useful response with a proper error object. We currently have no easy way of inspecting that error or displaying it to the user.

![image](https://user-images.githubusercontent.com/14835021/103623914-150f8180-4f39-11eb-8211-314091042c1a.png)

We're u

[2021-01-05 14:06] Flixbox commented on #428
Turns out setting `responseType` to `blob` might not be a good idea if you want to read a `JSON` error message. Now I'll just need to figure out how to accept both `blob` and `JSON` responses.

[2021-01-05 14:25] #428 closed

[2021-01-10 17:48] sylvainbaronnet opened #431 "is it possible to catch all request errors ?"
Hello,

Is there a way to catch all requests errors for example with redux saga ? Other than using `error(action.toString())` for all request actions ?

My use case is to watch for auth token expiration error for all request.

I use axios drive so maybe I could do it in its config directly, but I'd prefer using saga, so I can dispatch some action when it happens

[2021-01-10 18:03] sylvainbaronnet commented on #431
I have all my actions in an object already so I was able to work out something :

[code]

But would be nice if there was an easier way

[2021-01-10 21:44] klis87 commented on #431
@sylvainbaronnet use `onError` interceptor, in the docs you can see some ideas for token refreshment - https://redux-requests.klisiczynski.com/docs/tutorial/6-interceptors#onerror Please read the whole stuff, as later you will see some ideas to avoid potential endless loops etc

By redux saga alone you cannot catch errors, because redux-saga is side effect library, it doesnt have power to intercep

[2021-01-10 22:00] klis87 commented on #431
You could listen to all errors by using https://redux-requests.klisiczynski.com/docs/api-reference/is-response-action , and then checking suffix, but again, as side-effect to do something on error, but only `onError` interceptor could catch error, fire another request and replacing error response with success one

[2021-01-11 07:59] sylvainbaronnet commented on #431
Thanks that's super useful!

Great lib, thanks a lot

[2021-01-11 11:14] klis87 commented on #431
Glad that it is helpful! Can we close it then? If not, don't hesitate to ask further questions. Actually you touched important topic about interceptors, see https://github.com/klis87/redux-requests/issues/397 if you are interested about potential interceptor changes

[2021-01-12 09:58] sylvainbaronnet commented on #431
It's good I can close it, thanks again.

I'll try to check potential changes when I have time

[2021-01-12 09:58] #431 closed

[2021-01-13 01:28] klis87 commented on #418
Just in case, if anyone started working on this, please let me know, as probably this is the next on my list, as I just published new version focused on React. If not, that's totally fine, I just don't want to duplicate our efforts :)

[2021-01-13 01:28] klis87 commented on #401
@favger see new version 1.4 for this feature

[2021-01-13 09:58] favger commented on #401
@klis87 excellent. bless your hands.

[2021-01-13 23:02] klis87 opened #432 "Request creators"
Right now we create requests like this:
[code]

This is problematic due to the following reasons:
1) no autocomplete, unless you use TS and `RequestAction` interface, but with pure JS you won't get autocomplete at all
2) it is just redux action, it requires to have constant and action separately, however often we need both to a function like `useQuery`, `type` is needed for selector and action is

[2021-01-13 23:03] klis87 commented on #418
@iwan-uschka @favger btw, I am interested on your opinion about https://github.com/klis87/redux-requests/issues/432 , I would really appreciate your feedback!

[2021-01-15 12:49] klis87 commented on #401
@favger Did you already have a chance to test it? If yes, let's close this issue :)

[2021-01-15 14:44] favger commented on #401
@klis87 Yes, I downloaded the new version and tested it. We can end the matter. Thank you so much.

[2021-01-15 16:15] #401 closed

[2021-01-17 00:09] klis87 commented on #418
@iwan-uschka @favger released in https://github.com/klis87/redux-requests/releases/tag/%40redux-requests%2Fcore%401.5.0

note that I didn't implement pause and resume polling actions, because it can be just achieved by dispatching `stopPolling` and then, in a proper time by dispatching a given query with `meta.poll` again

[2021-01-17 14:49] favger commented on #418
@klis87 I tested it, it works fine. How would you recommend not to stop automatic renewal, except for the browser tab only?

[2021-01-17 14:52] klis87 commented on #418
@favger you mean to stop polling when a browser tab is not active?

[2021-01-17 14:53] favger commented on #317
Yes, we cannot use normalization for this reason 😢 (performance problem)

[2021-01-17 14:58] favger commented on #418
@klis87 Yes, definitely

[2021-01-17 14:59] klis87 commented on #317
Performance problem or maximum stack error? Any case, it would be very useful if you could provide a reproduction of performance issues, you can use https://github.com/klis87/redux-requests/tree/master/examples/showcase as a start, as there you could easily mock some endpoints on the server, as well as it is client side only (no ssr), you could get rid of material ui, can be black and white, just

[2021-01-17 15:00] klis87 commented on #317
btw, also pls hint me what is problem with performance, initial render, updates?

[2021-01-17 15:04] klis87 commented on #418
@favger probably you would need to use `onEffect` in your react component, listen to tab window events and:
- dispatch stopPolling from `useQuery` response on disactivating tab
- dispatch `load` from `useQuery` response on activating tab

if this works, we could think of an extra prop like `disablePolling: boolean` for `useQuery`, and even to `RequestsProvider` - then we chould set it globally

[2021-01-17 15:09] favger commented on #418
@klis87 I already use a similar structure as you said, but having a shorter method may be more comfortable for the developer.

Thank you very much for your support.
 Good work.

[2021-01-17 15:11] klis87 commented on #418
@favger Thank you as well for contributing with valid issues and ideas!

Once you set this up, please share some snippet, so I will make this easier to support!

[2021-01-17 15:21] favger commented on #418
We can solve it this way;

[code]

[code]

[code]

meta.poll= 10
meta.pollWhenHidden = true/false

- if **pollWhenHidden** is false, the poll will not work while the window is invisible.

I hope that has been revealing.

[2021-01-17 15:27] favger commented on #418
![SS-redux-requiest-iswindowactive](https://user-images.githubusercontent.com/25633595/104847519-8bc15d00-58f1-11eb-85dd-4456580edee6.png)

Maybe we can show it that way.

[2021-01-17 15:34] klis87 commented on #418
@favger ok, so you have a global way to get this attr. So, I guess extra prop to `useQuery` like `pausePolling={!isWindowActive}` would do it. If this is true, then:
1) `useQuery` would remove `poll` from `meta` on mount
2) `useQuery` would fire `stopPolling` when `pausePolling` is switched from `false` to `true`
2) `useQuery` would refetch (if `autoLoad` is `true` when `pausePolling` is switched

[2021-01-17 15:40] favger commented on #418
@klis87 excellent

[2021-01-17 18:41] iwan-uschka commented on #418
Hope it's not too late to join the party. Installed & tested `core@1.5.0`. Works great 👍. But there is a "but" :)

I want to make a suggestion for an improvement because as a developer i probably want to handle requests differently depending on the use case and respecting potentially network issues. Before giving some examples i would like to give a quick reminder of the configuration matrix i men

[2021-01-17 20:19] iwan-uschka commented on #432
Hi @klis87,
i totally understand the motivation here. Questions:

1. `useQuery` syntax would look like
[code]
    ?
2. What is meant with `meta.variables` at point 7? I just 😱😱😱 discovered the property [`variables`](https://redux-requests.klisiczynski.com/docs/guides/usage-with-react/#usequery) for `useQuery`. Is this related?
3. I am not sure if i understand point 8 correctly. If i am suppose to

[2021-01-17 22:08] iwan-uschka commented on #424
I don't have any use case in mind particularly where error is still needed on (re)load which would result in "keep the current implementation as it is" but indeed i can see the benefit of keeping the error until success which maybe helps someone.

This is a breaking change (if an implementation explicitly depends on how the error behaves).

[2021-01-17 22:29] iwan-uschka commented on #423
In case anyone is not convinced by reading your example, I have one that at least convinced me (taken from https://levelup.gitconnected.com/optimistic-updates-in-react-803003844cb0):

[2021-01-17 22:36] klis87 commented on #432
@iwan-uschka
1) no, just `useQuery({ type: someAction })`  (instead of `useQuery({ type: 'SOME_ACTION' })`), this is already possible in the current version, it is also possible that the next major release will make it as `useQuery(someAction, options)`, as `type` is necessary always anyway, options are optional though
2) `variables` were added recently, see React guide in the docs, variables are

[2021-01-17 22:40] klis87 commented on #424
@iwan-uschka It would be needed if you wanted to show error still during sth is refetched. This really depends on the app and use-case, but the thing is, changing this will just give this extra flexibility.

Agreed this is a breaking change, so probably this will go to next major version, not before. I could add it now with an extra config option, but I don't feel like this is important enough to

[2021-01-17 22:47] klis87 commented on #418
@iwan-uschka I don't have enough time to analyze your post tonight long enough unfortunately, I will try to do it tomorrow, but I will answer now as you mentioned very important topic which I feel is related to sth else and will be compatible with your suggestion. See https://github.com/klis87/redux-requests/issues/416 for my effects proposal, for example with `takeLeading` effect if meta.poll is

[2021-01-17 22:52] iwan-uschka commented on #432
Thanks for your response.
1. `useQuery({ type: someAction })` => pretty cool
    `useQuery(someAction)` => even nicer
2. will check out `variables``
3. I totally get that you can use driver specific `createRequest` function to benefit type checking and autocompletion. But i am still not quite sure about whether it interferes with declaring and configuring drivers globally via `handleRequests` and

[2021-01-17 22:53] klis87 commented on #423
@iwan-uschka hmm, but this example isn't about optimistic updates already implemented in this lib? Dragging card is probably a mutation, which already has optimistic support. You can even see this in action in the readme - showcase example, where you do dnd with react beautiful dnd, with optimistic update it looks cool, but without it, you have this weird effect after releasing the button, for exa

[2021-01-17 22:53] iwan-uschka commented on #424
Agree.

Agree.

[2021-01-17 22:55] klis87 commented on #432
3. No, it won't make any difference at all regarding drivers setup in `handleRequests` and `createDriver`

[2021-01-17 22:59] iwan-uschka commented on #423
Sorry!! Like i mentioned in https://github.com/klis87/redux-requests/issues/432#issuecomment-761873233 i just discovered some features in this lib. I'll stop posting until i fully reread the docs (which i haven't done for quite a while, it seems).

[2021-01-17 23:06] klis87 commented on #423
@iwan-uschka no worries, perhaps it would be easier for you to analyze https://github.com/klis87/redux-requests/releases , then you will quickly see what's new :)

[2021-01-20 13:30] avasuro opened #433 "@redux-requests/react: ordinary event passed into dispatchRequest produces typescript error"
### Actual behaviour
TypeScript throws type error when non-RequestAction instance is passed into [dispatchRequest](https://redux-requests.klisiczynski.com/docs/guides/usage-with-react#usedispatchrequest) function.

### Expected behaviour

TypeScript doesn't throw types error when non-RequestAction is passed into [dispatchRequest](https://redux-requests.klisiczynski.com/docs/guides/usage-with-react

[2021-01-20 13:45] klis87 commented on #433
@avasuro hmm, indeed, it is a wrapper from js perspective, but it changes its type from ts perspective. I don't think it should support custom Redux action though, because it also makes `dispatch` returning response promise. However, normal `dispatch` returns just dispatched action. Would it be ok to leave it like that, but maybe some extra info should be added to docs? Then, you would need to imp

[2021-01-20 13:55] klis87 commented on #433
you could also create a wrapper of yours for this hook, which could work like `const [dispatchRequest, dispatch] = useWrapperDispatchRequest`

[2021-01-20 13:56] klis87 commented on #433
Anyway, with the newest version, it is very rare to dispatch request actions manually, see `useQuery` `autoload`, also hooks response contains memoized callback to dispatch, like `load` and `mutate`

[2021-01-20 14:16] avasuro commented on #433
@klis87 I'm not 100% sure but from my point of view it is worth to make it accept ordinary actions, because:
- it not looks very good to import several dispatch methods
- End user have to pay his attention at which action is a RequestAction, and which is not to use proper dispatch method - that may be annoying
- This function also unable to accept actions produced by this library (like abortReques

[2021-01-20 14:26] klis87 commented on #433
Thanks for your valid points, probably we could use TS conditional types to make it work for both cases, do you feel like creating a PR? ;)

[2021-01-20 14:27] avasuro commented on #433
@klis87

I proposed a PR with possible fix, please take a look, and make your decision about expected usage of dispatchRequest method basing on our discussion and this PR.
If you decide to decline this proposal, then I think it will be good to better describe in documentation how dispatchRequest should be used in projects (like users should import two dispatch requests etc).

Thank you for you eff

[2021-01-20 14:28] klis87 commented on #433
Thx, I will take a look! Also, if you have time, I would appreciate your opinions in issues labeled as `advice wanted` especially https://github.com/klis87/redux-requests/issues/432

[2021-01-20 14:55] avasuro commented on #432
I agree with all points, and totally agree that current necessity to provide action type together with action creator (in default setup without help of other action creator libraries) looks very ugly - request creator should gracefully solve that issue.

Just want to say 2 things:
- please, don't drop FSA - I know at least one lib ( [@reduxjs/toolkit](https://www.npmjs.com/package/@reduxjs/toolkit

[2021-01-20 15:13] klis87 commented on #432
@avasuro thx for the great feedback!

Yeah, also `redux-act` and probably `redux-actions` also does it. However, wondering whether this is still an issue? If someone uses custom redux actions in FSA style, would it be a problem to support both FSA and not FSA actions?

And, if you see any problems and we would still need to support both, wondering how we should do that. I don't wanna force FSA, bu

[2021-01-20 15:29] avasuro commented on #410
As an end user, I'd prefer to see new package version only when something in this package changes (+ it will be good to have separate CHANGE.log file for each package, where I will be able to see list of fixes/improvements/breaking changes for this specific package), so independent mode + conventional commits + some automation to bump version and make change.log from commits history looks better.

[2021-01-20 22:39] klis87 commented on #410
It was a while since I used not independent mode, but I believe that not changed package are not released like in independent mode. The only difference is that in the independent mode you can independently update packages to different versions, but in not dependent, you just pick one version for all updated packages.

In my view the biggest problem with independent mode is hard to understand combi

[2021-01-20 23:53] klis87 commented on #418
@iwan-uschka I analyzed your interval type suggestion and I think that:
- `strict` is the same as `takeLatest` - we already have it
- `efficient` is the same as `takeLeading`
- `placid` - is very similar to `efficient`, it would also use `takeLeading`, but timeout is shifted depending on the response time of a previous request

Is it necessary to support both `efficient` and `placid`?

[2021-01-21 13:12] renovate[bot] opened #435 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:52] #435 closed

[2021-01-24 05:07] hendrul opened #436 "ResponseData type doesn't work as I think it should"
I want to have typing when dispatching (or putting) an action from a saga, something like
[code]
but response got type any...
Instead my own implementation looks like this
[code]
And it type what I expect to return from a request

[2021-01-24 13:46] klis87 commented on #436
@hendrul could you share your `fetchTodos` with typings? we have test for this here https://github.com/klis87/redux-requests/blob/master/packages/redux-requests/types/index.d.spec.ts#L138 and it works

I think that you need another type anyway, `ResponseData` https://github.com/klis87/redux-requests/blob/master/packages/redux-requests/types/index.d.ts#L105 is just to get `data` type, by inference

[2021-01-24 14:07] klis87 commented on #432
Adding to this discussion, it is worth mentioning, that even currently all utility actions like `resetRequests`, `abortRequests` and so on are NOT FSA actions! Just request actions can by of FSA type, because for now there is no official helper to create them. Anyone could create them however one wants, either manually, or by an action creator library like `redux-act`. And this was precisely the r

[2021-01-24 23:09] klis87 commented on #432
To sum up, the only way I could support FSA action is to transform all actions to FSA mode, for example `resetRequests` would be:
[code]

but really I am not sure we should go FSA or not FSA. However, supporting both would just cause big overhead without too big reasons.

[2021-01-25 01:29] hendrul commented on #436
I have been experimenting with this piece of art, exactly what I feel I was lacking in my projects. I really want this lib rise in popularity. Right now im working on refactoring a tiny proyect to propose new ways for my team to develop react redux apps. Redux sagas is on top of my refactoring, because it allows to implement user flows in a traditional structured way, and is all declarative and te

[2021-01-25 08:42] avasuro commented on #432
@klis87

I read your previous answers, and there is something to think about, so I will answer later (hope I will not forget about them). But according to this answer:

I think there is no sense to transform internal actions of this library to FSA (or not FSA). When I wrote about that it is worth keeping the support of FSA events, I meant the ability to create actions for requests. Like this libra

[2021-01-25 09:40] klis87 commented on #432
@avasuro Good points. The question is then, will all people use createQuery, createMutation and createSubscription helpers? In my opinion yes, and in fact this way will be advocated in all examples and documentations. This is the only way I can show nice API in example, without duplicating action and constant imports in places like `useQuery`.

But, if not, is some people preferred not using those

[2021-01-25 09:48] klis87 commented on #436
Yeah, this lib is very undervalued, and it is not new, I have been working on it since several years already! It is like my goal to perfection in declarative server communication, hence it gradually evolves. But it could be more popular with helpers like requestCreators, as imho the key is to explain benefits even not to Redux users

There are 2 ways to use this libs, you can dispatch request in r

[2021-01-26 22:24] klis87 commented on #432
There is also one important thing to put in the equasion, I am pretty sure that the next major version will support request actions only created from Redux action creator lib, be it `redux-act` or built-in `createQuery`. This is because I don't want people to pass both constant and action creator to `useQuery` (`action` prop will be removed). This even more increases the chance that people will cr

[2021-01-27 12:53] avasuro commented on #432
Mmm, if I understand right: to simplify library code it will be good to choose some one type of actions (FSA or non-FSA) to use inside this library.

### In short:

If you force users to use only your helpers (`createQuery` etc.) - then as you said it doesn't matter which type of action to use. But if you leave the opportunity for users to choose which way of creating events to choose, then only F

[2021-01-27 13:00] avasuro commented on #432
Fair enough, then you can exclude all things related to "manually created actions" from my previous answer.

[2021-01-27 16:37] klis87 commented on #432
@avasuro thx for your analysis, indeed it looks like going FSA all the way could be the best option. Actually we almost have FSA anyway, as we use `meta` convention. We could even change `request` into `payload` without nesting `request` in `payload`, because probably next version will recognize request actions and queries differently. Probably we will just have a new mandatory `meta.requestType:

[2021-02-05 07:38] BigBadAlien opened #438 "Lazy loading (or pagination on scroll)"
Does the library have an approach to implement lazy loading? I haven't found it in the sources or examples.

For example

[code]

and on

[code]

to concatenate both arrays. Any ideas? Otherwise, I would suggest adding the feature

Thanks

[2021-02-05 08:31] klis87 commented on #438
@BigBadAlien yes, you can concatenate `data` with action.meta.getData , which has access both to previous and current data, see https://redux-requests.klisiczynski.com/docs/api-reference/request-action#getdata-data-currentdata--transformeddata

[2021-02-11 17:01] avasuro opened #439 "async onRequest interceptor"
As far as I see from documentation there is no support for asynchronous onRequest interceptor (unlike onError interceptor, for example).

Sometimes this feature is required, e.g. if you use `aws-amplify` library it is common approach to get request token using `Auth.currentSession()` method, which is asynchronous. And because onRequest interceptor is not asynchronous I can't add token to request h

[2021-02-12 10:39] klis87 commented on #439
@avasuro Thx for this feature request, I already thought about this, but there is only one issue I am not sure how to solve - request aborts. For now aborts cancel request promises created by drivers, however imagine a scenario, where onRequest is running due to a pending promise, and in the middle we dispatch abort action, in theory we should cancel promise returned by onRequest interceptor, howe

[2021-02-12 11:30] klis87 commented on #439
also, question, what if for example async thing in onRequest would fail? now there is no mechanizm to give up request in onRequest, request will be always fired

another idea, why cannot you just get auth token in separate request, for example with `promiseDriver`? then, store it somewhere in redux, and only then make requests which require token, could it work for you?

[2021-02-12 18:19] avasuro commented on #439
@klis87
I spent several hours yesterday to investigate this task. You are absolutely right, such small improvement brings a lot of headache and very controversial decisions.
Therefore, I implemented this functionality through my own custom driver wrapper, which can accept any type of interceptor with ability to support interceptor cancellation.
Not sure that this solution is good enough, but it wo

[2021-02-12 22:00] klis87 commented on #439
Nice idea with custom driver! However...

Token expiration can be handled in onError interceptor, see full example here: https://redux-requests.klisiczynski.com/docs/tutorial/6-interceptors#metasilent-and-metarunon

The point is, you are right, a request with an expired token will fail, but that's ok! Then, you catch this error, fire a request there to get a new token, you save it, you override us

[2021-02-13 11:55] avasuro commented on #397
I didn't managed to dive deep into all pros and cons mentioned here (lack of free time), but at a first glance I think it's better to not implement global onSuccess interceptors or whatever handler to separate error and success responses because from my point of view responsibility to properly parse response and throw or not to throw error lies with Driver.

The reason is that, for example, slack

[2021-02-13 14:24] klis87 commented on #397
@avasuro yeah, agreed, examples you mention belong to drivers, and, regarding slack, I am really surprised they did it like this, and indeed status 200 will be treated as a success response. Anyway, the responsibility you mention is about distinguishing errors and successes on protocol level, nice ideas to chain axios driver promise to transform it into another, nice functional technique in practi

[2021-02-14 10:03] BigBadAlien commented on #438
Indeed, it's enough. Thanks!

[2021-02-14 12:52] klis87 commented on #438
@BigBadAlien cool. Actually I am going to make some recipies in the docs in the future, like lazy loading, pagination and more. This library doesn't have API to cover those cases "by name", but it is flexible to cover them all with a proper meta attributes' combination (at least I hope so). Do you have some more ideas for recipies which could be helpful for this library users?

[2021-02-14 13:58] klis87 opened #440 "Remove `multiple` and `defaultData` in the next major version"
I don't want to keep it, especially `defaultData` as it makes `getQuery` more complex than it has to be. It doesn't really do too much anyway, people can always provide a fallback for `null` on the app level. Another reason to remove it is to simplify API when it is possible, as we support more and more features, the API grows, so to balance it, we should remove what we can.

Please provide reason

[2021-02-14 21:50] klis87 opened #441 "Remove `cache` option in `handleRequests`"
If one doesn't want to cache anything, one won't use `meta.cache`. The only reason this option could be useful is not to include `cacheMiddleware` returned by `handleRequests` in middleware chain, but this kind of optimisation probably is never necessary, and if someone really cares, it can be done manually.

As an advantage, we will achieve some API simplification

[2021-02-15 13:03] BigBadAlien commented on #438
Thanks for the lib. Really helpful to use it for common cases and apply Sagas if something more complex required.

Yeah, created https://github.com/klis87/redux-requests/discussions/442

I'll close the topic for now, since resolved by [getData](https://redux-requests.klisiczynski.com/docs/api-reference/request-action#getdata-data-currentdata--transformeddata)

[2021-02-15 13:03] #438 closed

[2021-02-15 23:32] klis87 commented on #438
Interestingly, I don't know you know, but this library started as ... `redux-saga-requests` :) so it was just a saga addon, only later rewritten to pure redux so that it could be used not only with sagas. At the same time I actually stopped using sagas, as this lib + `redux-first-router` is enough for all the cases I encounter in my current apps.

[2021-02-21 14:46] favger opened #446 "Few parameters needed to be added for polling (if window active & if window focus)"
meta: {
  pollWhenHidden: false,
  revalidateOnFocus: false
}

https://github.com/klis87/redux-requests/blob/0176826fd239d9e1319439cae2c96f1140728792/packages/redux-requests/src/middleware/create-polling-middleware.js#L44-L53

Something like this (pollWhenHidden):
[code]

Something like this (revalidateOnFocus):
[code]

@klis87 We need your help in this matter.

It's going to be a super but super

[2021-02-21 22:17] klis87 commented on #446
@favger I don't think I would add window listeners into the core, this is too opinionated and DOM dependent. What we could probably do is a way to pause/resume pollings. Interestingly, I don't think we need to add anything to core, as instead of pause/resume polling, you can just `stopPolling` and then just fetch sth with `meta.poll` again to resume. What we need I think is some extra property on

[2021-02-23 14:41] favger commented on #446
@klis87 I was just trying to explain the situation. I have no idea how to integrate the features into the library.

"Then, you would use whatever logic you want, like yours, to set this pausePolling flag, and pause/resume logic will be done for you. Is that solution suitable for you?"
- I think that would be an extra effort.
- Like creating a global variable (isWindowActive), we have to check it i

[2021-02-23 15:01] klis87 commented on #446
I understand, but we cannot add opinionated things to the core, as API will grow too much, I want to keep things as flexible and minimalistic as possible

If I understand correctly yes, you would put whatever logic you need like `isWindowActive` on the app level and pass it to `pausePolling`

My version I guess not, probably several hours, but I am very busy recently, and also have other tasks on

[2021-02-23 15:51] favger commented on #446
Got it, thank you very much for your interest.

I'll work with a private wrapper as you said and share the solution here.

[2021-02-24 08:34] Nevenq opened #447 "Caching with different cacheKey"
I have a question about how the cacheKey works. I have fetch action
![image](https://user-images.githubusercontent.com/38163651/108964577-746a5200-769d-11eb-9ed7-fe98d53f6268.png)

For example i need 2 requests with different teamType 0 and 1. In this case, the cache will remember the last teamType cacheKey.
![image](https://user-images.githubusercontent.com/38163651/108965006-11c58600-769e-11eb-8

[2021-02-24 09:09] klis87 commented on #447
`cacheKey` is for cache invalidation, if you need to store 2 data for the same query type, use `requestKey`

[2021-02-24 09:10] klis87 commented on #447
`requestKey` can by used without cache even, but it is complementary with `cache` and `cacheKey`

[2021-02-24 09:17] Nevenq commented on #447
@klis87 When i use `requestKey` it makes different query types
![image](https://user-images.githubusercontent.com/38163651/108977553-7ab2fb00-76aa-11eb-8a43-ffc1eb297c69.png)

[2021-02-24 09:27] klis87 commented on #447
@Nevenq yes, this is necessary, without requestKey there is no way to store multiple requests for the same type, without requestKey next request overrides previous data always

why designed like this? cache doesnt store any data copy

having multiple types is not an issue, just remember to pass mathing `requestKey` in `useQuery`, getQuery` or whatever you use

[2021-02-24 09:32] Nevenq commented on #447
@klis87 I migrate from redux-saga-requests)

Well thank you. I thought I was doing something wrong. More code will have to be rewritten

[2021-02-24 09:46] #447 closed

[2021-02-24 13:04] klis87 commented on #447
@Nevenq ahh right, caching was refactored since then to support more cases and to be compatible with mutations :)

[2021-03-02 11:45] mokabyls opened #448 "Bug: useQuery with autoLoad false does not allowing manually call of load function"
Hi,

just find a bug with useQuery hook. If you pass autoLoad option to false and want manually call the load function, useQuery not dispatch action while autoLoad is false. Check the code bellow :

https://github.com/klis87/redux-requests/blob/0176826fd239d9e1319439cae2c96f1140728792/packages/redux-requests-react/src/use-query.js#L41-L49

To resolve this issue, we just have to remove this verific

[2021-03-02 12:04] klis87 commented on #448
@mokabyls nice find! I will need to make sure why I even added this here. I can see the very same condition in `useEffect`. In the meantime, if you wish, you could make PR, as indeed you found the solution yourself! If not, I will do it myself in the incoming days :)

[2021-03-02 22:30] klis87 commented on #448
@mokabyls I checked and indeed it should be safe to just remove this condition like you described. Probably this line is a leftover from my prototyping.

[2021-03-04 11:41] BigBadAlien commented on #438
@klis87 Yes, I'm acquainted with the first saga-based version. Yeah, I use sagas to handle external events not just requests and it's pretty difficult to avoid sagas for such cases

[2021-03-04 12:59] klis87 commented on #438
@BigBadAlien I am wondering what external events you mean, I am asking as requests pattern can be used/or maybe even abused for more cases. In the nearest time I am going to experiment with using this lib for even local state. Why? Because then you could achieve difficult tasks, like offline cache (will be added soon), normalisation and so on as easily as for "remote state", for free, in the very

[2021-03-04 19:01] BigBadAlien commented on #438
Like sockets or any other event-based data transport

Cool, looking forward to the changelog

[2021-03-04 19:15] BigBadAlien commented on #438
Can be useful, thanks! I'll take a look into it. Btw. Created a topic https://github.com/klis87/redux-requests/discussions/450

[2021-03-04 22:11] klis87 commented on #438
Cool! I pointed you some references to subscriptions. Wondering whether they will solve your use case!

[2021-03-05 16:53] avasuro opened #451 "Bug: query state in store is not updating when meta.mutations property used"
If request action contains meta.mutations object then query state in store is not updating (loading is not changing to true/false)

Here is a [sandbox example](https://codesandbox.io/s/laughing-tu-ok9n9?file=/src/App.js)
See file App.js and comment/uncomment line number 19 to see the difference, and then click on button "send request" - you'll see that if line number 19 is commented - everything w

[2021-03-05 21:45] klis87 commented on #451
@avasuro this is a query, not a mutation. Maybe this is not documented well enough, but only mutations could have meta.mutations (and recently added subscriptions). So this combination is actually not supported. In the next major version, as createQuery and createMutation helpers will be added, this will be probably better explained.

[2021-03-06 07:37] avasuro commented on #451
@klis87 Hm, yes, it is logical. Then this ticket can be closed.

[2021-03-06 07:37] #451 closed

[2021-03-14 12:49] klis87 commented on #448
Fixed and published https://github.com/klis87/redux-requests/releases/tag/%40redux-requests%2Freact%401.6.1

[2021-03-14 12:49] #448 closed

[2021-03-30 16:43] favger opened #453 "How can i reset all request types without request keys"
![x1x1x1](https://user-images.githubusercontent.com/25633595/113024580-96b92900-918f-11eb-9bfa-19e9f3abaf2e.png)

[code]

[2021-04-03 22:09] klis87 commented on #433
@avasuro The next version won't have `dispatchRequest` at all, just normal `dispatch`. It will accept any action, and only for request actions it will promisify response. I will look more or less like:
[code]

So as you can see, store will just have `dispatch`, like normally, but thx to conditional types, It will correctly handle requests.

[2021-04-04 10:29] avasuro commented on #433
@klis87 Thank you, very good solution!

[2021-04-16 06:56] john-wennstrom commented on #433
Hello @klis87 . I'm having problems understanding the `useDispatchRequest` hook. In my case I would like to dispatch an action and await the response so I can do something with the error in the same function where I dispatch, like this:

[code]

I cannot see what I'm doing wrong here, any suggestions would be appreciated.

[2021-04-16 08:28] klis87 commented on #433
@john-wennstrom  `useDispatchRequest` is just reexport of `useDispatch` from `react-redux`, just types are different as dispatch returns promise, while normal `dispatch` returns just action itself.

The only reason dispatch could reject promise is a syntax error, probably in your request action. Please show me `createCase`

[2021-04-21 06:39] john-wennstrom commented on #433
@klis87 Yes, I now see why it didn't work. Forgot to return something from the request action.

[2021-04-21 11:29] klis87 commented on #433
@john-wennstrom ok, good you found the problem, co closing then

[2021-04-21 11:29] #433 closed

[2021-05-06 23:19] khalilbenachir commented on #416
@klis87
currently, i'm facing the same problem , so my question is how to add a custom middleware to redux-request , to achieve this behavior , if i don't add a custom revertData returns the old data, if u can help me with this I'll be thankful.

[2021-05-07 07:15] klis87 commented on #416
@khalilbenachir please provide an example what you want to achieve - an action example and how you use it, and what you would like to abstract

[2021-05-07 07:17] klis87 commented on #416
if you mean that you don't want to define old data at all, but rather to make it returning old data automatically, I would need to think about it, but please confirm that this is what you need. otherwise, please give me an example

[2021-05-07 08:51] khalilbenachir commented on #416
@klis87
i want is , every time i don't specify revertData inside mutations object to return oldData .
example :
`const editBook = (editedBook) => ({
  type: EDIT_BOOK_OPTIMISTIC,
  request: {
    url: `/book/${editedBook.id}`,
    method: 'PUT',
  },
  meta: {
    mutations: {
      FETCH_BOOKS: {
        updateDataOptimistic: data => data.map(d => d.id === editedBook.id ? editedBook : d),

[2021-05-07 12:12] klis87 commented on #416
@khalilbenachir for now revertData doesn't even have 2nd arg passed, this is TODO for the version 2.0.

For now, you could do sth like this:
[code]
This is not a working code, and `mapMutations` is just a direction how to do it, but in this way you should achieve what you need. I hope that will help you!

[2021-05-08 02:46] khalilbenachir commented on #416
@klis87  i added a middleware that to autoRevert , but i can't solve my problem, so my question is why when i dispatch a mutation action [POST_BOOK] , i didn't add any mutations to the action, but when the mutation triggered, she also updated the queries [FETCH_BOOK] , so , how can that happen if u have any idea?

[2021-05-08 09:45] klis87 commented on #416
@khalilbenachir I need all actions and the middleware code to help you.

[2021-05-10 23:39] khalilbenachir commented on #416
as u can see in this screen shot , the put request dispatch also FETCH
![Capture d’écran 2021-05-10 231906](https://user-images.githubusercontent.com/39462325/117737110-a5f8b100-b1e8-11eb-844f-ee11f0eba224.png)

this is my action :

`export const putConnaissanceClient = (id, dto, success) => {
  return {
    type: "PUT_CONNAISSANCE_CLIENT_DRAFT",
    request: {
      url: `/api/user/${id}`,

[2021-05-11 21:31] klis87 commented on #416
@khalilbenachir I dont see any FETCH action in your example. Anyway, I believe I could help you only if you provided me an example repo with reproduction. Especially that putConnaissanceClient doesn't even have meta.autoRevert prop

[2021-09-26 22:52] renovate[bot] opened #485 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency coveralls to v3.1.1
 - [ ] Update docusaurus monorepo to v2.0.0-beta.6 (`@docusaurus/core`, `@docusaurus/preset-classic

[2021-10-15 13:49] theigwe opened #486 "Non Agonisitc Interceptors"
How can I handle interceptors globally, having different interceptor for each driver in a multiple driver setup without having to do that in reducers?

[2021-10-15 14:44] theigwe opened #487 "Support allow credential config in graphql."
I really do love this package.  Does a whole lot. Before I migrate, is there a way to handle credentials sending from browser.
Example sending cookies automatically using the graphql driver just like in apollo client?

[2021-10-15 20:43] klis87 commented on #486
I guess you mean interceptors in this context? https://redux-requests.klisiczynski.com/docs/tutorial/6-interceptors

Those interceptors are globally used, but you can use requestAction.meta.driver to have a different logic per driver.

Additionally, drivers are promised based (see how to write them - https://redux-requests.klisiczynski.com/docs/drivers/using-drivers#writing-your-own-driver), so yo

[2021-10-21 17:35] theigwe commented on #487
I was able to handle this.... But it will great if I wouldn't have to create custom driver to achieve this. I created a [pull request](https://github.com/klis87/redux-requests/pull/489) for the fix I used in  my project.

[2021-10-22 14:36] suryaVemp opened #491 "Migrating from redux-saga-requests to redux-requests"
Hi, we want to migrate to redux-requests since redux-saga-requests has been deprecated and is no longer maintained.

One challenge we faced is all the requests interceptors were implemented as sagas(generator functions) and wired it to the createRequestInstance from redux-saga-requests module.
[code]
The alternative we found for createRequestInstance is handleRequests in the new module, but unfort

[2021-11-02 17:15] #491 closed

[2021-11-23 09:17] Antroll opened #498 "Docs website is not working"
https://redux-requests.klisiczynski.com/
![image](https://user-images.githubusercontent.com/15137898/142998054-ca3bb383-b856-49cb-854c-038a9e5ff166.png)

[2021-11-29 23:58] klis87 commented on #498
Thanks for reporting, it was just domain issue, it is already fixed.

[2021-11-29 23:58] #498 closed

[2022-11-29 07:02] nvdnvd00 opened #536 "Cannot access to documentation!"
Seems like the documentation doesn't accessable anymore.
<img width="855" alt="CleanShot 2022-11-29 at 14 01 53@2x" src="https://user-images.githubusercontent.com/17423070/204460998-495137f3-24c0-41e9-885e-1f30c7b6942e.png">